<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Mapa</title>
			<link rel="stylesheet" type="text/css" href="css/style.css" />
		</head>
	<body>

		<h1>
			<div id="div1">Log</div>
			<div id="div2">al</div>
			<div id="div3">i</div>
		</h1>

		<ul>
			<li><a href="index.js">Home</a></li>
			<li><a href="mapa.js">Mapa</a></li>
			<li><a href="sobre.js">Quem Somos</a></li>
			<li><a href="login.js">Login</a></li>
	</ul>

	<br />
	<h1 align="center">Página de Mapa</h1>

		
	</body>
</html>