<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/_css/global.css">
    <link rel="stylesheet" href="./assets/_css/quem-somos.css">
</head>
<body>
    <header>
        <img src="./assets/_imagens/CallforCode_logo_logo.png" alt="Logo" class="soon">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a href="/sobre">Quem Somos</a></li>
            <li><a href="/login" class="button">Login/Cadastro</a></li>
        </ul>
    </header>

    <main>
        <section>
            <p>
                Somos uma equipe que acredita na força do pequeno produtor e no impacto da economia circular.
            </p>
            <p>
                Através da tecnologia, pretendemos incentivar o fluxo e a eficiência das comunidades, tornando o consumo mais saudável para todos.
            </p>     
           
        </section>
    </main>

    <footer>
        <div class="icons">
            <img src="./assets/_imagens/instagram.svg" alt="Instagram">
            <img src="./assets/_imagens/facebook.svg" alt="Facebook">
            <img src="./assets/_imagens/twitter.svg" alt="Twitter">
        </div>
        Ajuda
    </footer>
</body>
</html>