<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Logali</title>		
			<link rel="stylesheet" type="text/css" href="css/style.css" />
		</head>
	<body>

		<h1>
			<div id="div1">Log</div>
			<div id="div2">al</div>
			<div id="div3">i</div>
		</h1>

		<nav>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/mapa">Mapa</a></li>
				<li><a href="/sobre">Quem Somos</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</nav>

	<br />
	<h1 align="center">Página Index</h1>

	</body>
</html>