<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Logali</title>		
			<link rel="stylesheet" type="text/css" href="./css/style.css" />
			<style>
				body {
					background-color: white;
				}
				h1 {
					margin: 10px;
				}
				#div_titulo, #div1{
					color: orange;
					display:inline;
					letter-spacing: 0.2em;
				}
				#div_titulo, #div2{
					color: green;
					display:inline;
					letter-spacing: 0.2em;
				}
				#div3{
					background: linear-gradient(to top, green 60%, red 40%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					display:inline;
				}
				ul {
						margin: 0;
						padding:0;
				}
				
				li {
						list-style: none; 
						margin: 10px;
						display: inline;
				}
				</style>
		</head>
	<body>

		<h1>
			<div id="div1">Log</div>
			<div id="div2">al</div>
			<div id="div3">i</div>
		</h1>

		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Mapa</a></li>
			<li><a href="#">Quem Somos</a></li>
			<li><a href="#">Login</a></li>
	</ul>

	<br />
	<h1 align="center">Página Index</h1>

	</body>
</html>