<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Logali</title>		
			<style>
				body {
					background-color: white;
				}
				h1 {
					margin: 10px;
				}
				#div_titulo, #div1{
					color: orange;
					display:inline;
					letter-spacing: 0.2em;
				}
				#div_titulo, #div2{
					color: green;
					display:inline;
					letter-spacing: 0.2em;
				}
				#div3{
					background: linear-gradient(to top, green 60%, red 40%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					display:inline;
				}
				ul {
						margin: 0;
						padding:0;
				}
				
				li {
						list-style: none; 
						margin: 10px;
						display: inline;
				}
				</style>
		</head>
	<body>

		<h1>
			<div id="div1">Log</div>
			<div id="div2">al</div>
			<div id="div3">i</div>
		</h1>

		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Mapa</a></li>
			<li><a href="#">Quem Somos</a></li>
			<li><a href="#">Login</a></li>
	</ul>

	<br />
	<h1 align="center">Página de Login</h1>


		<form class="login100-form validate-form">
			<span class="login100-form-title p-b-49">
			Login
			</span>
			<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
			<span class="label-input100">Username</span>
			<input class="input100" type="text" name="username" placeholder="Type your username">
			<span class="focus-input100" data-symbol=""></span>
			</div>
			<div class="wrap-input100 validate-input" data-validate="Password is required">
			<span class="label-input100">Password</span>
			<input class="input100" type="password" name="pass" placeholder="Type your password">
			<span class="focus-input100" data-symbol=""></span>
			</div>
			<div class="text-right p-t-8 p-b-31">
			<a href="#">
			Forgot password?
			</a>
			</div>
			<div class="container-login100-form-btn">
			<div class="wrap-login100-form-btn">
			<div class="login100-form-bgbtn"></div>
			<button class="login100-form-btn">
			Login
			</button>
			</div>
			</div>
			<div class="txt1 text-center p-t-54 p-b-20">
			<span>
			Or Sign Up Using
			</span>
			</div>
			<div class="flex-c-m">
			<a href="#" class="login100-social-item bg1">
			<i class="fa fa-facebook"></i>
			</a>
			<a href="#" class="login100-social-item bg2">
			<i class="fa fa-twitter"></i>
			</a>
			<a href="#" class="login100-social-item bg3">
			<i class="fa fa-google"></i>
			</a>
			</div>
			<div class="flex-col-c p-t-155">
			 <span class="txt1 p-b-17">
			Or Sign Up Using
			</span>
			<a href="#" class="txt2">
			Sign Up
			</a>
			</div>
			</form>

	</body>
</html>